.cardItem{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;  
    align-items: center;  
    background-color: moccasin;
    border-radius: 15px;
    padding: 10px;
}
.imgCard{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

