#idNavbar{
    background-color: #1d78d2;
    width: 100vw;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
}

.btNav{
    margin-left: 10px;  
    padding: 5px;  
    border: none;
    background-color: white;
    border-radius: 5px;    
    width: 100px;
    text-decoration: none;
    color:black
}

#idDivButton{
    
    
    margin-top: 25px;
    margin-left: 55%;
    float: right;
    flex-direction: row;
}

#idTitulo{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 12px;
}
