.divBtnContador{
    position: absolute;
    top: 10%;
    left: 20%;
    flex-direction: column;    
    width: 50vw;  
}

.tablaProductos, th, tr, td{
    width: 600px;    
    border: 1px solid black;
}

td{
    align-items: center;
}
.btn{
    margin-left: 5px;
    margin-right: 5px;
}
img{
    width: 60px;
    height: 60px;
}